{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div class="card m-3">
            <div class="card-body">
              <h4 class="card-title"><a>{{post.title}}</a></h4>
              <p class="card-text">{{post.content}}</p>  
              <a href="#" class="btn btn-primary">Button</a>
              <div class="card-footer text-muted text-center mt-4">
                 <p>By {{post.author.username}} on {{post.date_posted.strftime("%Y-%m-%d") }}</p>
              </div>
            </div>
          </div>
    {% endfor %}
{% endblock content %}


